.my-facebook-button-class{
  padding: 12px;
  margin: 0;
  background-color: #af9a7d;
  border: 1px;
  border-color: #af9a7d;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  letter-spacing: 2px;  
}

.my-facebook-button-class:hover{
  background: transparent;
  color:#af9a7d;
  border: 5px;
  border-color: #af9a7d;
}